fastcore>=1.5.29
imutils>=0.5.4
numpy>=1.25.2
opencv_python>=4.8.0.74
paho_mqtt>=1.6.1
PyGObject>=3.44.1
setuptools>=68.0.0

opencv-python~=4.8.0.74
paho-mqtt~=1.6.1
matplotlib~=3.7.2
Pillow~=10.0.0
UAV~=0.0.1
psutil~=5.9.5
nbdev~=2.3.12
execnb~=0.1.5
ipython~=8.14.0
requests~=2.31.0
PyYAML~=6.0.1
msgpack-python~=0.5.6